In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\msdof\\OneDrive\\Imagens\\Ligas\\E0 (1).csv")

# Calcular a diferença de gols e identificar partidas consideradas goleadas
df['GoalDifference'] = abs(df['FTHG'] - df['FTAG'])

condicoes_goleada = (df['GoalDifference'] >= 3) & ~((df['FTHG'] == 3) & (df['FTAG'] == 0)) & ~((df['FTHG'] == 0) & (df['FTAG'] == 3))
goleadas = df[condicoes_goleada]


# Contar o número total de partidas e o número de goleadas
quantidade_partidas = df.shape[0]
total_goleadas = goleadas.shape[0]

# Calcular a proporção de goleadas
proporcao_goleada = total_goleadas / quantidade_partidas

quantidade_partidas, total_goleadas, proporcao_goleada

(293, 35, 0.11945392491467577)

In [4]:
# Nome do time
time = "Chelsea"

# Calcular goleadas feitas pelo time, seja como time da casa ou visitante
goleadas_mandante = goleadas[goleadas['HomeTeam'] == time]
goleadas_visitante = goleadas[goleadas['AwayTeam'] == time]

# Goleadas totais feitas pelo time
total_goleadas_por_time= len(goleadas_mandante) + len(goleadas_visitante)

total_goleadas_por_time

4

In [8]:
goleadas_time_selecionado = pd.concat([goleadas_mandante, goleadas_visitante])

# Selecionar colunas relevantes para exibir informações sobre os jogos de goleada
goleadas_visualizacao = goleadas_time_selecionado[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]

goleadas_visualizacao

           Date   HomeTeam AwayTeam  FTHG  FTAG
71   07/10/2023    Burnley  Chelsea     1     4
109  06/11/2023  Tottenham  Chelsea     1     4
123  25/11/2023  Newcastle  Chelsea     4     1
215  31/01/2024  Liverpool  Chelsea     4     1