In [16]:
import pandas as pd

df = pd.read_csv("C:\\Users\\msdof\\OneDrive\\Imagens\\Ligas\\E0 (1).csv")

# Calcular a diferença de gols e identificar partidas consideradas goleadas
df['GoalDifference'] = abs(df['FTHG'] - df['FTAG'])

# Definir o critério de goleada como uma diferença de 3 ou mais gols

#goleadas = df[df['GoalDifference'] >= 3] 

# Correção: aplicando múltiplas condições de filtragem com parênteses adequados
condicoes_goleada = (df['GoalDifference'] >= 3) & ~((df['FTHG'] == 3) & (df['FTAG'] == 0)) & ~((df['FTHG'] == 0) & (df['FTAG'] == 3))
goleadas = df[condicoes_goleada]


# Contar o número total de partidas e o número de goleadas
total_matches = df.shape[0]
total_goleadas = goleadas.shape[0]

# Calcular a proporção de goleadas
proportion_goleadas = total_goleadas / total_matches

total_matches, total_goleadas, proportion_goleadas

(293, 35, 0.11945392491467577)

In [17]:
# Nome do time para consulta
team_name = "Chelsea"

# Calcular goleadas feitas pelo time, seja como time da casa ou visitante
goleadas_home = goleadas[goleadas['HomeTeam'] == team_name]
goleadas_away = goleadas[goleadas['AwayTeam'] == team_name]

# Goleadas totais feitas pelo time
total_goleadas_by_team = len(goleadas_home) + len(goleadas_away)

total_goleadas_by_team

4

In [18]:
# Concatenar os dataframes de goleadas em casa e fora para obter todas as goleadas do Chelsea
goleadas_chelsea = pd.concat([goleadas_home, goleadas_away])

# Selecionar colunas relevantes para exibir informações sobre os jogos de goleada
goleadas_chelsea_info = goleadas_chelsea[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]

goleadas_chelsea_info

           Date   HomeTeam AwayTeam  FTHG  FTAG
71   07/10/2023    Burnley  Chelsea     1     4
109  06/11/2023  Tottenham  Chelsea     1     4
123  25/11/2023  Newcastle  Chelsea     4     1
215  31/01/2024  Liverpool  Chelsea     4     1